// Google Fonts
@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:wght@300;400;600;700;800&family=Satisfy&display=swap);

// Imports
@import "partials/typography";
@import "partials/buttons";
@import "partials/colors";
@import "partials/layout";
@import "partials/global";
@import "components/navigation";
@import "components/maps";
@import "components/auth";
@import "components/footer";

.app {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
}

.bergen-map {
  margin-top: 10px;
  width: 100%;
}
