// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(https://fonts.googleapis.com/css2?family=Satisfy&display=swap);

// Imports
@import "partials/typography";
@import "partials/buttons";
@import "partials/colors";
@import "partials/layout";
@import "partials/global";
@import "partials/anim";
@import "components/navigation";
@import "components/maps";

.app {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
}

.bergen-map {
  margin-top: 10px;
  width: 100%;
}

/* ==========================================================================
Footer
========================================================================== */
footer {
  background-color: $section-light;
  .content {
    border-top: 1px solid $keyline-color;
    padding-bottom: 50px;
  }
  .to-top-wrapper {
    font-size: 24px;
    display: block;
    margin: -25px auto 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid $keyline-color;
    background: $white-color;
    position: relative;

    .to-top {
      display: block;
      text-align: center;
      line-height: 52px;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      &:hover { margin-top: -5px }
    }
  }
  .footer-text {
    margin: 0;
    padding: 0;
    text-align: center;
    &-heart {
      padding: 0 4px;
      color: $red-color;
    }
  }
}
