/* ==========================================================================
Google map
========================================================================== */
#map-canvas {
  height: 500px;
  width: 100%;
}
#map-pin {
  img {
    width: 24px;
    height: 24px;
    transform: translate(-50%, -100%);
  }
}
