.navigation {
  transition: all 300ms ease-in-out;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  margin: 0 auto;
  background: $nav-bg;
  max-width: 1170px;

  .logo-wrapper {
    cursor: pointer;
  }

  .header-nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      li {
        display: inline;
        .scroll-to {
          color: $txt-light;
          font-size: $nav-font-size;
          text-transform: uppercase;
          padding: 8px 0 8px 8px;
          margin: 0 0 0 24px;
          &:hover { color: $accent-color }
          @media (max-width: 560px) {
            margin: 0;
          }
        }
      }

      &.primary-nav { }
      &.member-actions { }
    }
  }

  @media (max-width: 435px) {
    .header-nav {
      .btn-small {
        padding: 8px 15px !important;
      }
    }
  }
}
