// Colours partial

$body: #040d13; //todo: change this
// Text colours
$txt-primary: #1C3653;
// body font
$txt-secondary: #d5d5d5;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
// form placeholder text
// Global colours
$accent-color: #e3af0b;
// global accent colour
$accent-color-hover: #826005;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
$red-color: #bf1313;
// Layout colours
$nav-bg: #040D13CB;
$section-light: #ffffff;
$section-light-trans: #ffffffcf;
$section-dark: #445839;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;
