/* ==========================================================================
Global Styles
========================================================================== */
.group:after {
  content: "";
  display: table;
  clear: both;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}

body {
  font-family: $sans-serif;
  font-weight: $light;
  color: $txt-primary;
  background-color: $body;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}
*:focus {
  outline: none !important;
}
ul, ol {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
section .header {
  padding-bottom: 30px;
}
img {
  width: 100%;
}
hr {
  margin-top: 0;
  margin-bottom: 20px;
  border: 1px inset $keyline-color;
}

.section-border {
  border-bottom: 1px solid $keyline-color;
}

.extra-margin {
  &-top { margin-top: 10px }
  &-right { margin-right: 10px }
  &-bottom { margin-bottom: 10px }
  &-left { margin-left: 10px }
}

.scroll-to {
  color: $accent-color;
  cursor: pointer;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  &:hover, &:focus {
    color: $accent-color-hover;
    text-decoration: none;
  }
}
