// Typography partial
@import "colors";

// Fonts
$sans-serif: 'Open Sans', sans-serif;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$cursive: 'Satisfy', cursive;

// Weights

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Sizes

$font-size-h1: 60px;
$font-size-h2: 40px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 15px;
$font-size-p: 15px;
$font-size-sub: 24px;
$nav-font-size: 13px;
$blog-post-title: 11px;

// Responsive Sizes

$responsive-h1: 40px;

// Line height

$base-line-height: 29px;

// Styles

/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: $font-size-p;
  line-height: $base-line-height;
  color: inherit;
  margin: 0 16px;
  &:last-child {
    padding-bottom: 20px;
  }
}

a {
  color: $accent-color;
  text-decoration: inherit;
  user-select: none;
  &:hover {
    color: $accent-color-hover;
  }
}

button {
  cursor: pointer;
  user-select: none;
}

h1 {
  font-size: $font-size-h1;
  font-family: $cursive;
}

sub {
  color: inherit;
  font-size: $font-size-sub;
  font-weight: $bold;
  font-family: $serif;
  line-height: $base-line-height;
}

h2 {
  font-size: $font-size-h2;
  font-weight: $light;
  color: inherit;
  font-family: $serif;
}

h3 {
  color: inherit;
  font-size: $font-size-h3;
  font-weight: $bold;
  font-family: $serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: $base-line-height;
}

h4 {
  font-size: $font-size-h4;
  font-family: $serif;
}

h5 {
  font-size: $font-size-h5;
  color: inherit;
  text-transform: uppercase;
  font-weight: $semibold;
}

.logo {
  font-family: $cursive;
  color: $black-color;
  &.light { color: $white-color }
  &-heart { color: $red-color }
  &-wrapper {
    cursor: default;
    user-select: none;
  }
}
